<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Folder</title>
  </head>
  <body>
    <h1>Delete Folder</h1>
    <form method="POST" action="/folders/delete">
      <label for="folderName">Folder Name: </label>
      <input type="text" name="folderName" />
      <button type="submit">Delete Folder</button>
    </form>
  </body>
</html>
