<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to your drive <%= currentUser.username%>!</h1>
    <h3><a href="/files/new">Upload a file</a></h3>
  </body>
</html>
