<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Folder</title>
  </head>
  <body>
    <h1>Update Folder</h1>
    <form method="POST" action="/folders/update">
      <label for="folderName">Folder Name: </label>
      <input type="text" name="folderName" />
      <label for="newFolderName">New Folder Name: </label>
      <input name="newFolderName" />
      <button type="submit">Update Folder</button>
    </form>
  </body>
</html>
